/* SASS Variables */
$bdr-111:#111 dotted 0.1rem;
$bdr-333:#333 dotted 0.1rem;
$bdr-3397486:#397486 solid 0.1rem;
$bdr-555:#555 dotted 0.1rem;
$bdr-069:#069 dotted 0.1rem; 
$bdr-941506:#941506 dotted 0.1rem;
$bdr-b0b0b0:#b0b0b0 dotted 0.1rem;
$bdr-radius50:50%;
/**/
$clr-base:#333;
$clr-000:#000;
$clr-111:#111;
$clr-222:#222;
$clr-333:#333;
$clr-444:#444;
$clr-555:#555;
$clr-600:#600;
$clr-666:#666;
$clr-777:#777;
$clr-888:#888;
$clr-999:#999;
$clr-00f:#00f;
$clr-069:#069;
$clr-0cc:#0cc;
$clr-ccc:#ccc;
$clr-cf3:#cf3;
$clr-def:#def;
$clr-f00:#f00;
$clr-0f0:#0f0;
$clr-ff0:#ff0;
$clr-00f:#00f;
$clr-fff:#fff;
/**/
$clr-008000:#008000;
$clr-2196f3:#2196f3;
$clr-0c3b48:#0c3b48;
$clr-363636:#363636;
$clr-3888bd:#3888bd;
$clr-397486:#397486;
$clr-3f5eb5:#3f5eb5;
$clr-646464:#646464;
$clr-810202:#810202;
$clr-941506:#941506;
$clr-9e9e9e:#9e9e9e;
$clr-a3a3a3:#a3a3a3;
$clr-b0b0b0:#b0b0b0;
$clr-5d4384:#5d4384;
$clr-bf040b:#bf040b;
$clr-c0c0c0:#c0c0c0;
$clr-d45a06:#d45a06;
$clr-e0e0e0:#e0e0e0;
$clr-efefef:#efefef;
$clr-f07890:#f07890;

/**/
$linear1:top, #0c3b48 0%, #069 100%;
$linear1r:top, #069 0%, #0c3b48 100%;
$linear2:top, #0c3b48 0%, #b0b0b0 100%;
$linear2r:top, #b0b0b0 0%, #0c3b48 100%;
$linear3:top, #941506 0%, #d45a06 100%;
$linear3r:top, #d45a06 0%, #941506 100%;
$ref-content:#333 dotted 1px;

/* SASS Template Centralized Variables in Mixins for multiple prefixes. Use @include fot Mixins */
@mixin border-radius($radius) {-webkit-border-radius: $radius; -moz-border-radius: $radius;	-o-border-radius: $radius; -ms-border-radius: $radius;	border-radius: $radius;}
@mixin box-shadow($shadow) {-webkit-box-shadow: $shadow; -moz-box-shadow: $shadow;	-o-box-shadow: $shadow;	-ms-box-shadow: $shadow; box-shadow: $shadow;}
@mixin transform($degree) {-webkit-transform: rotate($degree);	-moz-transform: rotate($degree); -ms-transform: rotate($degree); transform: rotate($degree);}
@mixin background($linear1) {background: -moz-linear-gradient($linear1); background: -webkit-linear-gradient($linear1); background: -o-linear-gradient($linear1); background: -ms-linear-gradient($linear1);}
@mixin background($linear2) {background: -moz-linear-gradient($linear2); background: -webkit-linear-gradient($linear2); background: -o-linear-gradient($linear2); background: -ms-linear-gradient($linear2);}
@mixin background($linear3) {background: -moz-linear-gradient($linear3); background: -webkit-linear-gradient($linear3); background: -o-linear-gradient($linear3); background: -ms-linear-gradient($linear3);}

/* SASS Font Bases */
.font-base1 {line-height:1.5; font-family:'Poiret One', serif; letter-spacing:0.05rem;}
.font-base2 {line-height:1.5; font-family:'Raleway', sans-serif; letter-spacing:0.05rem;}
.font-base3 {line-height:1.5; font-family:'Noto Sans', sans-serif; letter-spacing:0.05rem;}

/* SASS Extends for Font Bases */
h1, .h1 {font-weight:900; @extend .font-base2;} /* Bootstrap: 36px*/
h2, .h2 {font-weight:700; @extend .font-base2;} /* Bootstrap: 30px*/
h3, .h3 {font-weight:500; @extend .font-base2;} /* Bootstrap: 24px*/
h4, .h4 {font-weight:400; @extend .font-base2;} /* Bootstrap: 18px*/
h5, .h5 {font-weight:300; @extend .font-base2;} /* Bootstrap: 14px*/
h6, .h6 {font-weight:200; @extend .font-base2;} /* Bootstrap: 12px*/
p {font-weight:100; @extend .font-base2; margin:1rem;} /* Bootstrap: 14px*/

/* Font Styles */
.fontPoiretOne10 {font-size:1.0rem; @extend .font-base1;}
.fontPoiretOne12 {font-size:1.2rem; @extend .font-base1;}
.fontPoiretOne14 {font-size:1.4rem; @extend .font-base1;}
.fontPoiretOne16 {font-size:1.6rem; @extend .font-base1;}
.fontPoiretOne18 {font-size:1.8rem; @extend .font-base1;}
.fontPoiretOne20 {font-size:2.0rem; @extend .font-base1;}
.fontPoiretOne22 {font-size:2.2rem; @extend .font-base1;}
.fontPoiretOne24 {font-size:2.4rem; @extend .font-base1;}
.fontPoiretOne26 {font-size:2.6rem; @extend .font-base1;}
.fontPoiretOne28 {font-size:2.8rem; @extend .font-base1;}
.fontPoiretOne30 {font-size:3.0rem; @extend .font-base1;}
.fontPoiretOne32 {font-size:3.2rem; @extend .font-base1;}
.fontPoiretOne34 {font-size:3.4rem; @extend .font-base1;}
.fontPoiretOne36 {font-size:3.6rem; @extend .font-base1;}
//
.fontRaleway10 {font-size:1.0rem; @extend .font-base2;}
.fontRaleway12 {font-size:1.2rem; @extend .font-base2;}
.fontRaleway14 {font-size:1.4rem; @extend .font-base2;}
.fontRaleway16 {font-size:1.6rem; @extend .font-base2;}
.fontRaleway18 {font-size:1.8rem; @extend .font-base2;}
.fontRaleway20 {font-size:2.0rem; @extend .font-base2;}
.fontRaleway22 {font-size:2.2rem; @extend .font-base2;}
.fontRaleway24 {font-size:2.4rem; @extend .font-base2;}
.fontRaleway26 {font-size:2.6rem; @extend .font-base2;}
.fontRaleway28 {font-size:2.8rem; @extend .font-base2;}
.fontRaleway30 {font-size:3.0rem; @extend .font-base2;}
.fontRaleway32 {font-size:3.2rem; @extend .font-base2;}
.fontRaleway34 {font-size:3.4rem; @extend .font-base2;}
.fontRaleway36 {font-size:3.6rem; @extend .font-base2;}
//
.fontNotoSans10 {font-size:1.0rem; @extend .font-base3;}
.fontNotoSans12 {font-size:1.2rem; @extend .font-base3;}
.fontNotoSans14 {font-size:1.4rem; @extend .font-base3;}
.fontNotoSans16 {font-size:1.6rem; @extend .font-base3;}
.fontNotoSans18 {font-size:1.8rem; @extend .font-base3;}
.fontNotoSans20 {font-size:2.0rem; @extend .font-base3;}
.fontNotoSans22 {font-size:2.2rem; @extend .font-base3;}
.fontNotoSans24 {font-size:2.4rem; @extend .font-base3;}
.fontNotoSans26 {font-size:2.6rem; @extend .font-base3;}
.fontNotoSans28 {font-size:2.8rem; @extend .font-base3;}
.fontNotoSans30 {font-size:3.0rem; @extend .font-base3;}
.fontNotoSans32 {font-size:3.2rem; @extend .font-base3;}
.fontNotoSans34 {font-size:3.4rem; @extend .font-base3;}
.fontNotoSans36 {font-size:3.6rem; @extend .font-base3;}
//