/* CSS Document */
#html5 .txcenter {text-align:center;}
#html5 .txleft { text-align:left;}
#html5 .green {color:#0C6;}
#html5 .neutral {background-color:#efefef;}
#html5 .highlight {background-color:#d7e3ee; text-align:left;}
#html5 .yes {margin:0 auto; width:10px; height:10px; background-color:#00FF00; display:block;}
#html5 .red {color:#F00;}
#html5 .no {margin:0 auto; width:10px; height:10px; background-color:#FF0000; display:block;}
#html5 .partial {margin:0 auto; width:10px; height:10px; background-color:#CCCCCC; display:block;}
#html5 .bold {font-weight:bold;}
#html5 li {display:inline;padding:10px;}
