/*
Watch Command: sass --watch input.scss:output.css
Run Command: sass input.scss output.css ;

SASS Template Centralized Variables in Mixins for multiple prefixes, etc.
Use @include for Mixins
Use @extend for Extends
Use $ for all vars
*/
/* SASS Variables */
/**/
/**/
/* SASS Mixins */
/* SASS Template CSS Properties */
html {
  font: 62.5% 'Poiret One', serif;
  height: 100%;
  width: 100%; }

body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #333;
  background: #0c3b48 url(/images/v-red.png) no-repeat center fixed;
  background-size: 30%;
  overflow-x: hidden; }

/* SASS Font Bases */
.font-base1, .fontPoiretOne10, .fontPoiretOne12, .fontPoiretOne14, .fontPoiretOne16, .fontPoiretOne18, .fontPoiretOne20, .fontPoiretOne22, .fontPoiretOne24, .fontPoiretOne26, .fontPoiretOne28, .fontPoiretOne30, .fontPoiretOne32, .fontPoiretOne34, .fontPoiretOne36 {
  line-height: 1.5;
  font-family: 'Poiret One', serif;
  letter-spacing: 0.05rem; }

.font-base2, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .fontRaleway10, .fontRaleway12, .fontRaleway14, .fontRaleway16, .fontRaleway18, .fontRaleway20, .fontRaleway22, .fontRaleway24, .fontRaleway26, .fontRaleway28, .fontRaleway30, .fontRaleway32, .fontRaleway34, .fontRaleway36, #ngboot #galleries #galleries-main h2 {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05rem; }

.font-base3, .fontNotoSans10, .fontNotoSans12, .fontNotoSans14, .fontNotoSans16, .fontNotoSans18, .fontNotoSans20, .fontNotoSans22, .fontNotoSans24, .fontNotoSans26, .fontNotoSans28, .fontNotoSans30, .fontNotoSans32, .fontNotoSans34, .fontNotoSans36 {
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.05rem; }

/* SASS Extends for Font Bases */
h1, .h1 {
  font-weight: 900; }

/* Bootstrap: 36px*/
h2, .h2 {
  font-weight: 700; }

/* Bootstrap: 30px*/
h3, .h3 {
  font-weight: 500; }

/* Bootstrap: 24px*/
h4, .h4 {
  font-weight: 400; }

/* Bootstrap: 18px*/
h5, .h5 {
  font-weight: 300; }

/* Bootstrap: 14px*/
h6, .h6 {
  font-weight: 200; }

/* Bootstrap: 12px*/
p {
  font-weight: 100;
  margin: 1rem; }

/* Bootstrap: 14px*/
/**/
a {
  color: #f07890; }

a:hover {
  text-decoration: underline;
  color: #f07890; }

a:active {
  background: #0c3b48 !important; }

.outline {
  outline: #f00 solid 1px; }

.outline1 {
  outline: #069 solid 1px; }

.outline2 {
  outline: #069 solid 2px; }

.outline3 {
  outline: #06f solid 3px; }

.outline4 {
  outline: #06f solid 4px; }

.outline6 {
  outline: #06f solid 6px; }

.outline8 {
  outline: #ff0 solid 8px; }

.outline10 {
  outline: #f0f solid 10px; }

.clear {
  clear: both; }

.clearfix {
  overflow: auto; }

.float-none {
  float: none; }

.center {
  margin: 0 auto; }

::-webkit-scrollbar {
  width: 1rem;
  background: #069; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(100, 100, 100, 0.5);
  border-radius: 1rem; }

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.5); }

/* Font Styles */
.fontPoiretOne10 {
  font-size: 1.0rem; }

.fontPoiretOne12 {
  font-size: 1.2rem; }

.fontPoiretOne14 {
  font-size: 1.4rem; }

.fontPoiretOne16 {
  font-size: 1.6rem; }

.fontPoiretOne18 {
  font-size: 1.8rem; }

.fontPoiretOne20 {
  font-size: 2.0rem; }

.fontPoiretOne22 {
  font-size: 2.2rem; }

.fontPoiretOne24 {
  font-size: 2.4rem; }

.fontPoiretOne26 {
  font-size: 2.6rem; }

.fontPoiretOne28 {
  font-size: 2.8rem; }

.fontPoiretOne30 {
  font-size: 3.0rem; }

.fontPoiretOne32 {
  font-size: 3.2rem; }

.fontPoiretOne34 {
  font-size: 3.4rem; }

.fontPoiretOne36 {
  font-size: 3.6rem; }

.fontRaleway10 {
  font-size: 1.0rem; }

.fontRaleway12 {
  font-size: 1.2rem; }

.fontRaleway14 {
  font-size: 1.4rem; }

.fontRaleway16 {
  font-size: 1.6rem; }

.fontRaleway18 {
  font-size: 1.8rem; }

.fontRaleway20 {
  font-size: 2.0rem; }

.fontRaleway22 {
  font-size: 2.2rem; }

.fontRaleway24 {
  font-size: 2.4rem; }

.fontRaleway26 {
  font-size: 2.6rem; }

.fontRaleway28 {
  font-size: 2.8rem; }

.fontRaleway30 {
  font-size: 3.0rem; }

.fontRaleway32 {
  font-size: 3.2rem; }

.fontRaleway34 {
  font-size: 3.4rem; }

.fontRaleway36 {
  font-size: 3.6rem; }

.fontNotoSans10 {
  font-weight: 1.0rem; }

.fontNotoSans12 {
  font-weight: 1.2rem; }

.fontNotoSans14 {
  font-weight: 1.4rem; }

.fontNotoSans16 {
  font-weight: 1.6rem; }

.fontNotoSans18 {
  font-weight: 1.8rem; }

.fontNotoSans20 {
  font-weight: 2.0rem; }

.fontNotoSans22 {
  font-weight: 2.2rem; }

.fontNotoSans24 {
  font-weight: 2.4rem; }

.fontNotoSans26 {
  font-weight: 2.6rem; }

.fontNotoSans28 {
  font-weight: 2.8rem; }

.fontNotoSans30 {
  font-weight: 3.0rem; }

.fontNotoSans32 {
  font-weight: 3.2rem; }

.fontNotoSans34 {
  font-weight: 3.4rem; }

.fontNotoSans36 {
  font-weight: 3.6rem; }

/* Font Colors */
.white {
  color: #fff; }

.offwhite {
  color: #e0e0e0; }

.orange1 {
  color: #941506; }

.orange2 {
  color: #d45a06; }

.dark {
  color: #333; }

.black {
  color: #000; }

.marine {
  color: #0c3b48; }

.aqua {
  color: aqua; }

/* Font Weight */
.fw-norm {
  font-weight: normal; }

.fw-bold {
  font-weight: bold; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

/* Font Size */
.fs-60 {
  font-size: 6rem; }

.fs-54 {
  font-size: 5.4rem; }

.fs-48 {
  font-size: 4.8rem; }

.fs-42 {
  font-size: 4.2rem; }

.fs-36 {
  font-size: 3.6rem; }

.fs-32 {
  font-size: 3.2rem; }

.fs-28 {
  font-size: 2.8rem; }

.fs-24 {
  font-size: 2.4rem; }

.fs-20 {
  font-size: 2rem; }

.fs-18 {
  font-size: 1.8rem; }

.fs-16 {
  font-size: 1.6rem; }

.fs-14 {
  font-size: 1.4rem; }

.fs-12 {
  font-size: 1.2rem; }

.fs-10 {
  font-size: 1.0rem; }

/* Padding */
.pd-0-10 {
  padding: 0 1rem; }

.pd-0-20 {
  padding: 0 2rem; }

.pd-0-30 {
  padding: 0 3rem; }

.pd-10 {
  padding: 1rem; }

.pd-20 {
  padding: 2rem; }

.pd-30 {
  padding: 3rem; }

.pd-40 {
  padding: 4rem; }

.pd-50 {
  padding: 5rem; }

.pd-10-0 {
  padding: 1rem 0; }

.pd-20-0 {
  padding: 2rem 0; }

.pd-30-0 {
  padding: 3rem 0; }

.pd-40-0 {
  padding: 4rem 0; }

.pd-50-0 {
  padding: 5rem 0; }

/* Bootstrop CSS overwrite */
.container-fluid {
  padding: 0; }

.navbar {
  margin: 0 auto;
  border-radius: 0;
  background: #080808;
  z-index: 99; }

.navbar-nav {
  display: inline-block;
  vertical-align: middle;
  float: none; }
  .navbar-nav li {
    padding: 0;
    width: 15rem;
    margin: 0 0.1rem; }
  .navbar-nav li:hover {
    padding: 0;
    outline: #f07890 dotted 1px; }

/* Narvar affix */
.affix {
  top: 0;
  width: 100%; }

.affix + .container-fluid {
  padding-top: 70px; }

/* Custom CSS Below */
.level {
  display: inline-block;
  vertical-align: middle; }

/* Global header */
header {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  line-height: 3.5rem !important;
  text-shadow: #000 0.1rem 0.1rem 0.1rem; }
  header .title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-shadow: #000 0.1rem 0.1rem 0.1rem; }
  header .byline {
    text-shadow: #000 0.1rem 0.1rem 0.1rem; }

header#global {
  padding: 1.5rem 0;
  /*border-bottom:$clr-0c3b48 dotted 0.1rem;*/ }

/*  Declare Name Space for Nested CSS Properties */
#ngboot {
  color: #333;
  display: none;
  /* About */
  /* Recommend */
  /* Gallleries */
  /* /Glleries */
  /* Samples */
  /* Contact */
  /* Footer */
  /* To Top */ }
  #ngboot .logo {
    position: fixed;
    left: 0.5rem;
    top: 0.5rem;
    height: 4rem;
    width: 4rem;
    z-index: 100; }
  #ngboot .open-close {
    color: #777;
    min-height: 2.5rem;
    margin-bottom: 1rem; }
    #ngboot .open-close span.open-all {
      position: absolute;
      left: 2.5rem;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0.5rem; }
    #ngboot .open-close span.open-all:hover {
      color: aqua; }
    #ngboot .open-close span.close-all {
      position: absolute;
      right: 2.5rem;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0.5rem; }
    #ngboot .open-close span.close-all:hover {
      color: aqua; }
  #ngboot #about {
    height: inherit; }
    #ngboot #about #about-main {
      margin-bottom: 3rem;
      padding: 2rem;
      /*background:$clr-000 url(/images/bigback7.svg) no-repeat center 10rem; background-size:auto;*/
      /*border:$clr-0c3b48 solid 1px;*/
      /*@include border-radius(1rem);*/
      /*#about-tabs:hover {border:$clr-777 solid 1px;}*/ }
      #ngboot #about #about-main .blocks {
        padding: 2rem;
        line-height: 1.8rem;
        cursor: pointer;
        /*border:#111 dotted 1px;*/
        /*@include border-radius(1rem);*/
        /*.tabs:hover {border:$clr-f07 solid 1px; color:$clr-fff;}*/ }
        #ngboot #about #about-main .blocks .tabs {
          margin: 1rem auto;
          padding: 1rem;
          font-weight: bold;
          text-align: center;
          color: #f07890;
          /*background:$clr-0c3b48; border:#111 dotted 1px;*/
          /*@include border-radius(0.5rem);*/ }
          #ngboot #about #about-main .blocks .tabs .tab-top {
            height: 3.5rem;
            line-height: 3rem;
            /*border-bottom:#a3a3a3 dotted 1px;*/ }
          #ngboot #about #about-main .blocks .tabs .tab-cont {
            height: 20rem;
            text-align: left;
            padding: 1rem;
            color: #fff;
            font-weight: normal;
            overflow: auto;
            /*display:none;*/ }
      #ngboot #about #about-main #myinfo {
        line-height: 2rem;
        padding: 1rem;
        margin: 0 auto 2rem auto;
        color: white;
        /*border:#111 dotted 1px; background:$clr-0c3b48;*/ }
        #ngboot #about #about-main #myinfo span {
          display: inline-block;
          text-align: center;
          line-height: 2.4rem;
          padding: 0 1rem; }
        #ngboot #about #about-main #myinfo span img {
          margin: 0 auto 1rem auto;
          padding: 0.5rem;
          border: #069 dotted 1px;
          display: block; }
      #ngboot #about #about-main #knowledge-exp {
        padding: 1rem;
        color: white; }
      #ngboot #about #about-main #skills {
        text-align: left;
        padding: 0 3rem; }
        #ngboot #about #about-main #skills #core {
          margin: 0 auto;
          color: #fff; }
        #ngboot #about #about-main #skills #core span.skill {
          color: aqua;
          line-height: 2.5rem; }
      #ngboot #about #about-main #whatido {
        padding: 1rem;
        color: white; }
  #ngboot #recommend {
    height: inherit;
    display: none;
    /*#recommend-main:hover {border:$clr-777 solid 1px;}*/ }
    #ngboot #recommend #recommend-main {
      margin-bottom: 3rem;
      padding: 2rem;
      background: transparent;
      /*border:#111 dotted 1px;*/
      /*@include border-radius(1rem);*/ }
      #ngboot #recommend #recommend-main .refs {
        margin: 1rem auto;
        cursor: pointer; }
        #ngboot #recommend #recommend-main .refs .blocks {
          padding: 1rem;
          min-height: 10rem; }
          #ngboot #recommend #recommend-main .refs .blocks .ref-tabs {
            padding: 1rem;
            border: #555 dotted 1px;
            /*background:$clr-0c3b48; @include border-radius(0.5rem);*/ }
            #ngboot #recommend #recommend-main .refs .blocks .ref-tabs .tab-top {
              padding: 0 0 1rem 0;
              border-bottom: #a3a3a3 dotted 1px; }
            #ngboot #recommend #recommend-main .refs .blocks .ref-tabs .tab-cont {
              height: 11.5rem;
              padding: 1rem 0;
              clear: both;
              margin-bottom: 1rem;
              overflow: auto;
              /*display:none;*/
              /*background:url(/images/x-small.jpg) no-repeat 22rem 0.1rem;*/ }
  #ngboot #galleries {
    height: inherit;
    display: none; }
    #ngboot #galleries #galleries-main {
      margin-bottom: 3rem;
      /*min-height:82rem;*/
      /*background:$clr-111 url(/images/bigback.png) no-repeat center; background-size:cover;*/
      padding: 2rem 0 4rem 0;
      color: #e0e0e0;
      text-align: center;
      /*border:#111 dotted 1px;*/
      /*@include border-radius(1rem);*/ }
      #ngboot #galleries #galleries-main #galleries-nav {
        margin: 0 auto;
        color: #e0e0e0;
        text-align: center;
        padding: 2rem;
        cursor: pointer; }
        #ngboot #galleries #galleries-main #galleries-nav img {
          border: #e0e0e0 solid 0.2rem;
          margin: 2rem; }
        #ngboot #galleries #galleries-main #galleries-nav img:hover {
          outline: #ff0 solid 0.2rem; }
      #ngboot #galleries #galleries-main #hoverinfo {
        padding: 1rem;
        text-decoration: underline;
        color: aqua; }
      #ngboot #galleries #galleries-main h2 {
        margin: 2rem auto;
        color: #fff;
        text-shadow: #000 0.1rem 0.1rem 0.1rem;
        font-size: 1.8rem; }
      #ngboot #galleries #galleries-main img {
        margin: 0.5rem auto;
        border-top: #e0e0e0 solid 0.8rem;
        border-bottom: #e0e0e0 solid 0.8rem;
        border-left: #555555 solid 0.8rem;
        border-right: #555555 solid 0.8rem; }
      #ngboot #galleries #galleries-main .slide {
        margin: 0 auto;
        display: none;
        text-align: center;
        padding: 2rem; }
      #ngboot #galleries #galleries-main .first {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        padding: 2rem; }
      #ngboot #galleries #galleries-main .last {
        margin: 0 auto;
        display: none;
        text-align: center;
        padding: 2rem; }
      #ngboot #galleries #galleries-main .nextfirst {
        font-weight: bold;
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        display: block;
        background: url(/images/arrowsprite.png) no-repeat -4.5rem center;
        width: 5rem;
        height: 5rem; }
      #ngboot #galleries #galleries-main .next {
        font-weight: bold;
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        display: none;
        background: url(/images/arrowsprite.png) no-repeat -4.5rem center;
        width: 5rem;
        height: 5rem;
        z-index: 100; }
      #ngboot #galleries #galleries-main .prev {
        font-weight: bold;
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        bottom: 1rem;
        left: 2rem;
        display: none;
        background: url(/images/arrowsprite.png) no-repeat 0.5rem center;
        width: 5rem;
        height: 5rem;
        z-index: 100; }
      #ngboot #galleries #galleries-main .emptyL {
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        display: none; }
      #ngboot #galleries #galleries-main .emptyR {
        padding: 0.5rem;
        cursor: pointer;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        display: none; }
      #ngboot #galleries #galleries-main .meOn {
        font-weight: bold;
        color: #6ff; }
  #ngboot #samples {
    height: inherit;
    display: none; }
    #ngboot #samples #samples-main {
      margin-bottom: 3rem; }
      #ngboot #samples #samples-main .blocks {
        margin: 1rem auto;
        height: 25rem;
        padding-top: 2rem; }
        #ngboot #samples #samples-main .blocks span {
          display: block;
          text-shadow: #000 0.1rem 0.1rem 0.1rem; }
        #ngboot #samples #samples-main .blocks img {
          margin: 2rem auto 1rem; }
        #ngboot #samples #samples-main .blocks img:hover {
          outline: #006699 solid 4px; }
  #ngboot #contact {
    height: inherit;
    display: none; }
    #ngboot #contact #contact-main form {
      margin: 2rem auto;
      max-width: 50rem;
      padding: 1rem 5rem;
      text-align: left;
      background: #fff;
      border: #0c3b48 solid 4px;
      /*@include border-radius(1rem);*/ }
    #ngboot #contact #contact-main form div {
      margin: 1rem auto; }
    #ngboot #contact #contact-main fieldset span.require {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.5rem;
      color: #f00; }
    #ngboot #contact #contact-main fieldset legend, #ngboot #contact #contact-main fieldset label {
      line-height: 2.4rem;
      color: #000;
      font-size: 1.4rem; }
    #ngboot #contact #contact-main fieldset input[type="text"], #ngboot #contact #contact-main fieldset input[type="submit"], #ngboot #contact #contact-main fieldset input[type="reset"] {
      background: #ddeeff;
      border: solid 1px #a3a3a3;
      padding: 0.2rem 1rem;
      color: #000;
      -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      /*@include border-radius(0.2rem);*/
      -webkit-appearance: none;
      height: 2.4rem; }
    #ngboot #contact #contact-main fieldset textarea {
      background: #ddeeff;
      border: solid 1px #a3a3a3;
      padding: 0.2rem 1rem;
      color: #000;
      -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      /*@include border-radius(0.2rem);*/
      -webkit-appearance: none; }
    #ngboot #contact #contact-main fieldset input[type="text"] {
      width: 20rem;
      line-height: 2.4rem; }
    #ngboot #contact #contact-main fieldset input[type="radio"] {
      vertical-align: middle;
      display: inline-block;
      margin: 0 0.5rem;
      line-height: 2.4rem; }
    #ngboot #contact #contact-main fieldset textarea {
      width: 20rem;
      height: 8rem;
      margin: 0.5rem auto;
      resize: both; }
    #ngboot #contact #contact-main fieldset input:required {
      background: aqua; }
  #ngboot footer {
    height: inherit;
    padding: 5rem 0;
    margin-bottom: 10rem; }
    #ngboot footer #footer-main span, #ngboot footer #footer-main a {
      text-shadow: #000 0.1rem 0.1rem 0.1rem; }
  #ngboot #toTop {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.5rem;
    background: #111;
    outline: #333 solid 1px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

/******************************************************************************************************/

/*# sourceMappingURL=ngboot.css.map */
