
/*
Watch Command: sass --watch input.scss:output.css
Run Command: sass input.scss output.css ;

SASS Template Centralized Variables in Mixins for multiple prefixes, etc.
Use @include for Mixins
Use @extend for Extends
Use $ for all vars
*/

/* SASS Variables */
$clr-base:#333;
$clr-000:#000;  
$clr-111:#111;
$clr-222:#222;
$clr-333:#333;
$clr-444:#444;
$clr-555:#555;
$clr-666:#666;
$clr-777:#777;
$clr-888:#888;
$clr-999:#999;
$clr-ccc:#ccc;
$clr-ddd:#ddd;
$clr-eee:#eee;
$clr-fff:#fff;
/**/
$clr-080808:#080808;
$clr-f07890:#f07890;
$clr-b0b0b0:#b0b0b0;
$clr-363636:#363636;
$clr-006699:#006699;
$clr-0c3b48:#0c3b48;
$clr-a3a3a3:#a3a3a3;
$clr-66000b:#66000b;
$clr-666600:#666600;
$clr-e0e0e0:#e0e0e0;
/**/
$bdr-333:#333 dotted 1px;
$bdr-555:#555 dotted 1px;
$bdr-069:#069 dotted 1px; 

/* SASS Mixins */
@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}
@mixin box-shadow($shadow) {
-webkit-box-shadow: $shadow;
-moz-box-shadow: $shadow;
-ms-box-shadow: $shadow;
box-shadow: $shadow;
}
@mixin transform($degree) {
-webkit-transform: rotate($degree);
-moz-transform: rotate($degree);
-ms-transform: rotate($degree);
transform: rotate($degree);
}

/* SASS Template CSS Properties */
html {font:62.5% 'Poiret One', serif; height:100%; width:100%;}
body {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; color:$clr-base; background:#0c3b48 url(/images/v-red.png) no-repeat center fixed; background-size:30%; overflow-x:hidden;}

/* SASS Font Bases */
.font-base1 {line-height:1.5; font-family:'Poiret One', serif; letter-spacing:0.05rem;}
.font-base2 {line-height:1.5; font-family:'Raleway', sans-serif; letter-spacing:0.05rem;}
.font-base3 {line-height:1.5; font-family:'Noto Sans', sans-serif; letter-spacing:0.05rem;}

/* SASS Extends for Font Bases */
h1, .h1 {font-weight:900; @extend .font-base2;} /* Bootstrap: 36px*/
h2, .h2 {font-weight:700; @extend .font-base2;} /* Bootstrap: 30px*/
h3, .h3 {font-weight:500; @extend .font-base2;} /* Bootstrap: 24px*/
h4, .h4 {font-weight:400; @extend .font-base2;} /* Bootstrap: 18px*/
h5, .h5 {font-weight:300; @extend .font-base2;} /* Bootstrap: 14px*/
h6, .h6 {font-weight:200; @extend .font-base2;} /* Bootstrap: 12px*/
p {font-weight:100; @extend .font-base2; margin:1rem;} /* Bootstrap: 14px*/
/**/
a {color:$clr-f07890;}
a:hover {text-decoration:underline; color:$clr-f07890;}
a:active {background:$clr-0c3b48 !important;
}
.outline {outline:#f00 solid 1px;}
.outline1 {outline:#069 solid 1px;}
.outline2 {outline:#069 solid 2px;}
.outline3 {outline:#06f solid 3px;}
.outline4 {outline:#06f solid 4px;}
.outline6 {outline:#06f solid 6px;}
.outline8 {outline:#ff0 solid 8px;}
.outline10 {outline:#f0f solid 10px;}
.clear {clear:both;}
.clearfix {overflow:auto;}
.float-none {float:none;}
.center {margin:0 auto;}

// Custom Scroll Bar
::-webkit-scrollbar {width:1rem; background:#069;}
::-webkit-scrollbar-track {-webkit-box-shadow:inset 0 0 0.6rem rgba(100,100,100,0.5); border-radius: 1rem;}
::-webkit-scrollbar-thumb {background:#b0b0b0; border-radius:1rem; -webkit-box-shadow:inset 0 0 0.6rem rgba(0,0,0,0.5);}
//

/* Font Styles */
.fontPoiretOne10 {font-size:1.0rem; @extend .font-base1;}
.fontPoiretOne12 {font-size:1.2rem; @extend .font-base1;}
.fontPoiretOne14 {font-size:1.4rem; @extend .font-base1;}
.fontPoiretOne16 {font-size:1.6rem; @extend .font-base1;}
.fontPoiretOne18 {font-size:1.8rem; @extend .font-base1;}
.fontPoiretOne20 {font-size:2.0rem; @extend .font-base1;}
.fontPoiretOne22 {font-size:2.2rem; @extend .font-base1;}
.fontPoiretOne24 {font-size:2.4rem; @extend .font-base1;}
.fontPoiretOne26 {font-size:2.6rem; @extend .font-base1;}
.fontPoiretOne28 {font-size:2.8rem; @extend .font-base1;}
.fontPoiretOne30 {font-size:3.0rem; @extend .font-base1;}
.fontPoiretOne32 {font-size:3.2rem; @extend .font-base1;}
.fontPoiretOne34 {font-size:3.4rem; @extend .font-base1;}
.fontPoiretOne36 {font-size:3.6rem; @extend .font-base1;}
//
.fontRaleway10 {font-size:1.0rem; @extend .font-base2;}
.fontRaleway12 {font-size:1.2rem; @extend .font-base2;}
.fontRaleway14 {font-size:1.4rem; @extend .font-base2;}
.fontRaleway16 {font-size:1.6rem; @extend .font-base2;}
.fontRaleway18 {font-size:1.8rem; @extend .font-base2;}
.fontRaleway20 {font-size:2.0rem; @extend .font-base2;}
.fontRaleway22 {font-size:2.2rem; @extend .font-base2;}
.fontRaleway24 {font-size:2.4rem; @extend .font-base2;}
.fontRaleway26 {font-size:2.6rem; @extend .font-base2;}
.fontRaleway28 {font-size:2.8rem; @extend .font-base2;}
.fontRaleway30 {font-size:3.0rem; @extend .font-base2;}
.fontRaleway32 {font-size:3.2rem; @extend .font-base2;}
.fontRaleway34 {font-size:3.4rem; @extend .font-base2;}
.fontRaleway36 {font-size:3.6rem; @extend .font-base2;}
//
.fontNotoSans10 {font-weight:1.0rem; @extend .font-base3;}
.fontNotoSans12 {font-weight:1.2rem; @extend .font-base3;}
.fontNotoSans14 {font-weight:1.4rem; @extend .font-base3;}
.fontNotoSans16 {font-weight:1.6rem; @extend .font-base3;}
.fontNotoSans18 {font-weight:1.8rem; @extend .font-base3;}
.fontNotoSans20 {font-weight:2.0rem; @extend .font-base3;}
.fontNotoSans22 {font-weight:2.2rem; @extend .font-base3;}
.fontNotoSans24 {font-weight:2.4rem; @extend .font-base3;}
.fontNotoSans26 {font-weight:2.6rem; @extend .font-base3;}
.fontNotoSans28 {font-weight:2.8rem; @extend .font-base3;}
.fontNotoSans30 {font-weight:3.0rem; @extend .font-base3;}
.fontNotoSans32 {font-weight:3.2rem; @extend .font-base3;}
.fontNotoSans34 {font-weight:3.4rem; @extend .font-base3;}
.fontNotoSans36 {font-weight:3.6rem; @extend .font-base3;}

/* Font Colors */
.white {color:#fff;}
.offwhite {color:#e0e0e0;}
.orange1 {color:#941506;}
.orange2 {color:#d45a06;}
.dark {color:#333;}
.black {color:#000;}
.marine {color:#0c3b48;}
.aqua {color:aqua;}

/* Font Weight */
.fw-norm {font-weight:normal;}
.fw-bold {font-weight:bold;}
.fw-500 {font-weight:500;}
.fw-600 {font-weight:600;}
.fw-700 {font-weight:700;}
.fw-900 {font-weight:900;}

/* Font Size */
.fs-60 {font-size:6rem;}
.fs-54 {font-size:5.4rem;}
.fs-48 {font-size:4.8rem;}
.fs-42 {font-size:4.2rem;}
.fs-36 {font-size:3.6rem;}
.fs-32 {font-size:3.2rem;}
.fs-28 {font-size:2.8rem;}
.fs-24 {font-size:2.4rem;}
.fs-20 {font-size:2rem;}
.fs-18 {font-size:1.8rem;}
.fs-16 {font-size:1.6rem;}
.fs-14 {font-size:1.4rem;}
.fs-12 {font-size:1.2rem;}
.fs-10 {font-size:1.0rem;}

/* Padding */
.pd-0-10 {padding:0 1rem;}
.pd-0-20 {padding:0 2rem;}
.pd-0-30 {padding:0 3rem;}
.pd-10 {padding:1rem;}
.pd-20 {padding:2rem;}
.pd-30 {padding:3rem;}
.pd-40 {padding:4rem;}
.pd-50 {padding:5rem;}
.pd-10-0 {padding:1rem 0;}
.pd-20-0 {padding:2rem 0;}
.pd-30-0 {padding:3rem 0;}
.pd-40-0 {padding:4rem 0;}
.pd-50-0 {padding:5rem 0;}

/* Bootstrop CSS overwrite */
.container-fluid {padding:0;}
.navbar {margin:0 auto; border-radius:0; background:$clr-080808; z-index:99;}
.navbar-nav {display:inline-block; vertical-align:middle; float:none;
	li {padding:0; width:15rem; margin:0 0.1rem;}
	li:hover {padding:0; outline:$clr-f07890 dotted 1px;}
}

/* Narvar affix */
.affix {top: 0; width: 100%;}
.affix + .container-fluid {padding-top: 70px;}
/* Custom CSS Below */
.level {display:inline-block; vertical-align:middle;}

/* Global header */
header {margin:1rem auto; width:100%; text-align:center; line-height:3.5rem !important;
    .title {text-align:center; font-weight:bold; letter-spacing:0.1rem; text-shadow:#000 0.1rem 0.1rem 0.1rem;}
    .byline {text-shadow:#000 0.1rem 0.1rem 0.1rem;}
	text-shadow:#000 0.1rem 0.1rem 0.1rem; 
}
header#global {padding:1.5rem 0; /*border-bottom:$clr-0c3b48 dotted 0.1rem;*/}

/*  Declare Name Space for Nested CSS Properties */
#ngboot {color:$clr-base; display:none;
	.logo {position:fixed; left:0.5rem; top:0.5rem; height:4rem; width:4rem; z-index:100;}
	.open-close {color:$clr-777; min-height:2.5rem; margin-bottom:1rem;
		span.open-all {position:absolute; left:2.5rem; cursor:pointer; font-size:1.5rem; padding:0.5rem;}
		span.open-all:hover {color:aqua;}
		span.close-all {position:absolute; right:2.5rem; cursor:pointer; font-size:1.5rem; padding:0.5rem;}
		span.close-all:hover {color:aqua;}
	}

/* About */	
	#about {height:auto; display:block;
		#about-main {margin-bottom:3rem; padding:2rem; /*background:$clr-000 url(/images/bigback7.svg) no-repeat center 10rem; background-size:auto;*/ /*border:$clr-0c3b48 solid 1px;*/ /*@include border-radius(1rem);*/
			.blocks {padding:2rem; line-height: 1.8rem; cursor:pointer; /*border:#111 dotted 1px;*/ /*@include border-radius(1rem);*/ 
				.tabs {margin:1rem auto; padding:1rem; font-weight:bold; text-align:center; color:$clr-f07890; /*background:$clr-0c3b48; border:#111 dotted 1px;*/ /*@include border-radius(0.5rem);*/ 
					.tab-top {height:3.5rem; line-height:3rem; /*border-bottom:#a3a3a3 dotted 1px;*/}
					.tab-cont {height:20rem; text-align:left; padding:1rem; color:$clr-fff; font-weight:normal; overflow:auto; /*display:none;*/}
				}
				/*.tabs:hover {border:$clr-f07 solid 1px; color:$clr-fff;}*/
			}
			#myinfo {line-height:2rem; padding:1rem; margin:0 auto 2rem auto; color:white;/*border:#111 dotted 1px; background:$clr-0c3b48;*/
				span {display:inline-block; text-align:center; line-height:2.4rem; padding:0 1rem;}
				span img {margin:0 auto 1rem auto; padding:0.5rem; border:#069 dotted 1px; display:block;}
			}
			#knowledge-exp {padding:1rem; color:white;}
			#skills {text-align:left; padding:0 3rem;
				#core {margin:0 auto; color:$clr-fff;}
				#core span.skill {color:aqua; line-height: 2.5rem;}
			}
			#whatido {padding:1rem; color:white;}
			/*#about-tabs:hover {border:$clr-777 solid 1px;}*/	 
		}
	}

/* Recommend */	
	#recommend {height:auto; display:none;
		#recommend-main {margin-bottom:3rem; padding:2rem; background:transparent; /*border:#111 dotted 1px;*/ /*@include border-radius(1rem);*/ 
			.refs {margin:1rem auto; cursor:pointer;
				.blocks {padding:1rem; min-height:10rem;
					.ref-tabs {padding:1rem; border:$bdr-555; /*background:$clr-0c3b48; @include border-radius(0.5rem);*/
						.tab-top {padding:0 0 1rem 0; border-bottom:$clr-a3a3a3 dotted 1px;}
						.tab-cont {height:11.5rem; padding:1rem 0; clear:both; margin-bottom:1rem; overflow:auto; /*display:none;*/ /*background:url(/images/x-small.jpg) no-repeat 22rem 0.1rem;*/}
					}
				}
			}
		}
		/*#recommend-main:hover {border:$clr-777 solid 1px;}*/
	}

/* Gallleries */
	#galleries {height:auto; display:none;
		#galleries-main {margin-bottom:3rem; /*min-height:82rem;*/ /*background:$clr-111 url(/images/bigback.png) no-repeat center; background-size:cover;*/ padding:2rem 0 4rem 0; color:#e0e0e0; text-align:center; /*border:#111 dotted 1px;*/ /*@include border-radius(1rem);*/
			#galleries-nav {margin:0 auto; color:$clr-e0e0e0; text-align: center; padding:2rem; cursor: pointer;
				img {border:$clr-e0e0e0 solid .2rem; margin: 2rem;}
				img:hover {outline:#ff0 solid 0.2rem;}
			}
			#hoverinfo {padding:1rem; text-decoration:underline; color:aqua;}
			h2 {margin:2rem auto; color:#fff; text-shadow:#000 0.1rem 0.1rem 0.1rem; font-size:1.8rem; @extend .font-base2;}
			img {margin: 0.5rem auto; border-top: #e0e0e0 solid 0.8rem; border-bottom: #e0e0e0 solid 0.8rem; border-left: #555555 solid 0.8rem; border-right: #555555 solid 0.8rem;}
			.slide {margin:0 auto; display:none; text-align:center; padding:2rem;}
			.first {margin:0 auto; display:inline-block; text-align:center; padding:2rem;}
			.last {margin:0 auto; display:none; text-align:center; padding:2rem;}
			.nextfirst {font-weight:bold; padding:0.5rem; cursor:pointer; position:absolute; bottom:1rem; right:2rem; display:block; background:url(/images/arrowsprite.png) no-repeat -4.5rem center; width:5rem; height:5rem;}
			.next {font-weight:bold; padding:0.5rem; cursor:pointer; position:absolute; bottom:1rem; right:2rem; display:none; background:url(/images/arrowsprite.png) no-repeat -4.5rem center; width:5rem; height:5rem; z-index:100;}
			.prev {font-weight:bold; padding:0.5rem; cursor:pointer; position:absolute; bottom:1rem; left:2rem; display:none; background:url(/images/arrowsprite.png) no-repeat 0.5rem center; width:5rem; height:5rem; z-index:100;}
			.emptyL {padding:0.5rem; cursor:pointer; position:absolute; bottom:2rem; left:2rem; display:none;}
			.emptyR {padding:0.5rem; cursor:pointer; position:absolute; bottom:2rem; right:2rem; display:none;}
			.meOn {font-weight:bold; color:#6ff}
		}
	}
/* /Glleries */

/* Samples */
	#samples {height:auto; display:none;
		#samples-main {margin-bottom:3rem;
			.blocks {margin:1rem auto; height:25rem; padding-top:2rem;
				span {display:block; text-shadow:#000 0.1rem 0.1rem 0.1rem;}
				img {margin:2rem auto 1rem;}
				img:hover {outline:$clr-006699 solid 4px;}
			}
		}
	}
    
/* Contact */
	#contact {height:auto; display:none;
		#contact-main {
			form {margin:2rem auto; max-width:50rem; padding:1rem 5rem; text-align:left; background:$clr-fff; border:$clr-0c3b48 solid 4px; /*@include border-radius(1rem);*/}
			form div {margin:1rem auto;}
			fieldset {
				span.require {display:inline-block; vertical-align:middle; margin:0 0.5rem; color:#f00;}
				legend, label {line-height:2.4rem; color:$clr-000; font-size:1.4rem;}
				input[type="text"], input[type="submit"], input[type="reset"] {background:#ddeeff; border:solid 1px $clr-a3a3a3; padding:0.2rem 1rem; color:$clr-000; 
					@include box-shadow(inset 0 2px 3px rgba(0,0,0,.1));
					/*@include border-radius(0.2rem);*/
					-webkit-appearance:none; height:2.4rem}
				textarea {background:#ddeeff; border:solid 1px $clr-a3a3a3; padding:0.2rem 1rem; color:$clr-000;
					@include box-shadow(inset 0 2px 3px rgba(0,0,0,.1));
					/*@include border-radius(0.2rem);*/
					-webkit-appearance:none;}
				input[type="text"] {width:20rem; line-height:2.4rem;}
				input[type="radio"] {vertical-align:middle; display:inline-block; margin:0 0.5rem; line-height:2.4rem;}
				textarea {width:20rem; height:8rem; margin:0.5rem auto; resize:both;}
				input:required {background:aqua;}
			}
		}
	}

/* Footer */	
	footer {height:auto; padding:5rem 0; margin-bottom:10rem;
		#footer-main {
			span, a {text-shadow:#000 0.1rem 0.1rem 0.1rem;}
		}
	}

/* To Top */
	#toTop {position:fixed; right:0.5rem; bottom:0.5rem; padding:0.5rem; background:$clr-111; outline:$clr-333 solid 1px;  @include transform(0deg);}
}

/******************************************************************************************************/