/* BGN import *.scss */
@import "-global";
/* EOD import *.scss */
    
#flexcore {width:80%; background:#fcfcfc; margin:2% auto; text-align:left; padding:2rem; outline:#ccc solid 0.1rem;
    h2, h3, h4 {padding:1rem 0;}
    
    
    p {padding:1rem;}
    .strong {font-weight:bold;}
    .underline {text-decoration:underline;}
    .parent, .children, .others, .extra {padding:2rem; margin:1rem;
        ul {margin-top:2rem;
            li {padding:1rem; outline:#ccc dotted 0.1rem;}
        }
        
    }
}