/* BGN import *.scss */
@import "-global";
/* EOD import *.scss */

/********************************************************************************/

/* skyscreen */

#skyscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 999;
    text-align: center;
    .overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #ff0000;
        -moz-opacity: 0.50;
        opacity: 0.50;
        display: inherit;
        cursor: pointer;
    }
    .vframe {
        position: relative;
        margin: 5% auto;
        padding: 2rem;
        text-align: center;
        display: inline-block;
        border: #006699 solid 10px;
        background-color: #c0f060;
        .xclose {
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            cursor: pointer;
        }
        .vids {
            outline: #789 dotted 4px;
            /* iframe {width:60vw; height:33.75vw;} iframe's width and height is such a beauty */
        }
        /* Mobile First Responsive Media Queries*/
        @media all and (min-width:320px) and (max-width:575px) {
            iframe {
                width: 70vw;
                height: calc(70vw * 9/16);
            }
            /* height:45vw; */
        }
        @media all and (min-width:576px) and (max-width:767px) {
            iframe {
                width: 70vw;
                height: calc(70vw * 9/16);
            }
            /* height:45vw; */
        }
        @media all and (min-width:768px) and (max-width:991px) {
            iframe {
                width: 70vw;
                height: calc(70vw * 9/16);
            }
            /* height:39.375vw; */
        }
        @media all and (min-width:992px) and (max-width:1199px) {
            iframe {
                width: 60vw;
                height: calc(60vw * 9/16);
            }
            /* height:33.75vw; */
        }
        @media all and (min-width:1200px) and (max-width:3840px) {
            iframe {
                width: 60vw;
                height: calc(60vw * 9/16);
            }
            /* height:33.75vw;} */
        }
    }
}


/**/

.launch,
.domcount {
    cursor: pointer;
}

.launch:hover,
.domcount:hover {
    outline: #f00 solid 2px;
}


/**/

#mobile-first {
    width: 100vw;
    margin: 1rem auto;
    padding: 1rem;
    outline: #069 solid 1rem;
    position: absolute;
    left: 0;
    top: 0;
    /* Floating element */
    #floater {
        background: #000;
        position: fixed;
        display: none;
        cursor: pointer;
        z-index: 99;
        &.long {
            left: -20rem;
            top: 2rem;
            width: 20rem;
            height: auto;
            padding: 2rem;
            text-align: left;
            ul {
                display: flex;
                flex-flow: column;
                li {
                    margin: 0.5rem auto;
                    padding: 1rem;
                    background: #eee;
                    min-width: 6rem;
                    width: 100%;
                }
            }
        }
        &.short {
            left: -8rem;
            top: 2rem;
            width: 8rem;
            height: 8rem;
            padding: 2rem;
            ul {
                display: none;
                li {
                    margin: 1rem auto;
                    padding: 1rem;
                    background: #eee;
                    min-width: 6rem;
                    width: 100%;
                }
            }
        }
    }
    #floater:hover {
        /* outline:#0f0 dotted 1px; -webkit-box-shadow: 0px 0px 50px 10px rgba(200,250,250,1); -moz-box-shadow: 0px 0px 50px 10px rgba(200,250,250,1); box-shadow: 0px 0px 50px 10px rgba(200,250,250,1);*/
    }
    /* flex parent container */
    .rowsflex {
        width: 100%;
        padding: 1rem;
        /* outline:#f00 solid 0.2rem; */
        display: flex;
        -webkit-display: flex;
        -ms-display: flex;
        /* shorthand property for "flex-direction" and "flex-wrap" */
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        /* The default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword like "auto". */
        flex-basis: auto;
        /* All items to be 100% width, via flex-basis */
        /* > * {flex: 1 100%;} */
        /* flex-direction: row-reverse;*/
        /* Main Axis */
        justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        /*
        flex-start      Default value. Items are positioned at the beginning of the container
        flex-end        Items are positioned at the end of the container
        center          Items are positioned at the center of the container
        space-between   Items are positioned with space between the lines
        space-around    Items are positioned with space before, between, and after the lines
        initial Sets this property to its default value. Read about initial
        inherit
        */
        align-content: center;
        -webkit-align-content: center;
        -ms-align-content: center;
        .hero {
            width: 100%;
            text-align: center;
            margin: 0.4rem;
            padding: 2vw;
            outline: #000 solid 0.2rem;
            background: #000 url('/images/bkgd-across-800x450-sepia.jpg') no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /**/
            span {
                display: block;
                font-size: 300%;
                color: #fff;
                font-weight: bold;
                text-shadow: 0.2rem 0.2rem 0.4rem #000000;
            }
            p {
                padding: 2rem;
            }
            img {
                width: 100%;
            }
            iframe#herovideo.hero-video {
                outline: #f00 solid 10px;
                margin: 3rem auto;
                width: 60vw;
                height: calc(60vw * 9/16);
            }
            /* height:33.75vw; */
        }
        .cols {
            height: auto;
            min-height: 30rem;
            width: 100%;
            text-align: center;
            margin: 0.4rem auto;
            outline: #aaa solid 0.1rem;
            padding: 2rem 0;
            /* All flex items share equal length(width). */
            /* flex:1; -webkit-flex:1; -ms-flex:1; */
            /* flex: none ;  | flex-grow | flex-shrink' | flex-basis */
            flex: 0 1 auto;
            -webkit-flex: 0 1 auto;
            ;
            -ms-flex: 0 1 auto;
            span {
                display: block;
                color: #fff;
                font-weight: bold;
                text-shadow: 0.2rem 0.2rem 0.4rem #000;
            }
            p {
                padding: 2rem;
            }
            img {
                width: auto;
                max-width: 100%;
            }
            img.pointer {
                cursor: pointer;
            }
            img.pointer:hover {
                outline: #ff0 solid 2px;
            }
            /* margin:auto is used in flex items but it might afect the same-height to each sibling of flex item */
            /* margin: auto; */
            .nextsib {
                align-self: stretch;
                padding: 4rem;
                bottom: -4rem;
                display: none;
            }
            &.center {
                display: flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                justify-content: center;
                -webkit-justify-content: center;
                -ms-justify-content: center;
                align-items: center;
                -webkit-align-items: center;
                -ms-align-items: center;
                img {
                    /* align-self:center; */
                }
            }
            &.equal {
                display: flex;
                outline: #f00 solid 0.2rem;
                align-items: center;
                -webkit-align-items: center;
                -ms-align-items: center;
                span {
                    outline: #789 solid 0.2rem;
                    flex-basis: 100%;
                    -webkit-flex-basis: 100%;
                    -ms-flex-basis: 100%;
                    /* flex: 0 1 auto; -webkit-flex: 0 1 auto;; -ms-flex: 0 1 auto; */
                    /* align-self:center; -webkit-align-self:center; -ms-align-self:center; */
                }
                img {
                    outline: #789 solid 0.2rem;
                    flex-basis: 100%;
                    -webkit-flex-basis: 100%;
                    -ms-flex-basis: 100%;
                    /* flex: 0 1 auto; -webkit-flex: 0 1 auto;; -ms-flex: 0 1 auto; */
                    /* align-self:center; -webkit-align-self:center; -ms-align-self:center; */
                }
                .side {
                    text-align: left;
                    outline: #789 solid 0.2rem;
                    padding: 3rem;
                    color: #ff0;
                    flex-basis: 100%;
                    -webkit-flex-basis: 100%;
                    -ms-flex-basis: 100%;
                    /* flex: 0 1 auto; -webkit-flex: 0 1 auto;; -ms-flex: 0 1 auto; */
                    /* align-self:center; -webkit-align-self:center; -ms-align-self:center; */
                }
            }
            &:nth-child(2) {
                background: black !important;
            }
            &:nth-last-child(2) {
                background: black !important;
            }
            .radius10 {
                border-radius: 10%;
            }
            .radius25 {
                border-radius: 25%;
            }
            .radius50 {
                border-radius: 50%;
            }
            /**/
            &.basis25vh {
                flex-basis: 25vh;
                -webkit-flex-basis: 25vh;
                -ms-flex-basis: 25vh;
            }
            &.basis50vh {
                flex-basis: 50vh;
                -webkit-flex-basis: 50vh;
                -ms-flex-basis: 50vh;
            }
            &.basis75vh {
                flex-basis: 75vh;
                -webkit-flex-basis: 75vh;
                -ms-flex-basis: 75vh;
            }
            /*  +cylee */
            &.N {}
            #imgOne {
                cursor: pointer;
                z-index: 9;
            }
            .kingdom {
                width: 80%;
                // height: 45%; or calc(80%*9/16);
                margin: 10% auto;
                padding: 5rem;
                z-index: 0;
                background: url(/images/screen-800x450x4.jpg) no-repeat center;
                background-size: contain;
                // outline: #f00 solid 1px;
                img.emoj {
                    width: 10%;
                    position: absolute;
                    cursor: pointer;
                    display: none;
                    &.angry {
                        left: 20%;
                        top: 5rem;
                    }
                    &.clown {
                        right: 20%;
                        top: 5rem;
                    }
                    &.flame {
                        left: 20%;
                        bottom: 5rem;
                    }
                    &.heart {
                        right: 20%;
                        bottom: 5rem;
                    }
                }
            }
            /*  -cylee */
        }
        .animation1 {
            background: url(/images/trees-800x450.jpg) no-repeat center;
            background-size: auto;
            .action1 {
                margin: 0.5rem auto;
                outline: #f00 solid 1px;
                cursor: pointer;
            }
            #talent1 {
                animation: ActionTalent1 3s;
                animation-iteration-count: infinite;
                /* animation-direction:reverse; animation-direction:alternate; */
            }
            @keyframes ActionTalent1 {
                from {
                    transform: rotate(-90deg);
                    left: 0;
                    top: 0;
                    opacity: 1;
                }
                to {
                    transform: rotate(90deg);
                    left: 30rem;
                    top: 10rem;
                    opacity: 0;
                }
            }
            #talent2 {
                animation: ActionTalent2 3s;
                animation-iteration-count: infinite;
            }
            @keyframes ActionTalent2 {
                from {
                    transform: rotate(90deg);
                    right: 0;
                    top: 0;
                    opacity: 1;
                }
                to {
                    transform: rotate(-90deg);
                    right: 30rem;
                    top: 10rem;
                    opacity: 0.2;
                }
            }
        }
    }
    /* Mobile First Responsive Media Queries*/
    @media all and (min-width:320px) and (max-width:575px) {
        .rowsflex {
            flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            .cols {
                width: 96%;
                margin: 0.4rem auto;
                &.equal {
                    outline: #669 solid 2rem;
                    display: block;
                }
            }
        }
    }
    @media all and (min-width:576px) and (max-width:767px) {
        .rowsflex {
            flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            .cols {
                width: 48%;
                &.equal {
                    outline: #669 solid 2rem;
                    display: block;
                }
            }
        }
    }
    @media all and (min-width:768px) and (max-width:991px) {
        .rowsflex {
            flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            .cols {
                width: 32%;
                &.equal {
                    outline: #669 solid 2rem;
                    display: block;
                }
            }
        }
    }
    @media all and (min-width:992px) and (max-width:1199px) {
        .rowsflex {
            flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            .cols {
                width: 48%;
                &.equal {
                    outline: #669 solid 2rem;
                    display: block;
                }
            }
        }
    }
    @media all and (min-width:1200px) and (max-width:3840px) {
        .rowsflex {
            flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            .cols {
                width: 48%;
            }
        }
    }
}


/* EOD */