/* BGN import *.scss */
@import "-global";
/* EOD import *.scss */

/********************************************************************************/
#mobile-first {width:96%; margin:1rem auto; padding:1rem; outline:#069 solid 1rem;
    /* flex parent container */
    .rowsflex {width:100%; padding:1rem; outline:#f00 solid 0.2rem;
        display:flex;
        -webkit-display:flex;
        -ms-display:flex;
        /* shorthand property for "flex-direction" and "flex-wrap" */
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap; 

        /* flex-direction: row-reverse; */
        justify-content:center;
        -webkit-justify-content:center;
        -ms-justify-content:center;

        /*
        flex-start      Default value. Items are positioned at the beginning of the container
        flex-end        Items are positioned at the end of the container
        center  Items are positioned at the center of the container
        space-between   Items are positioned with space between the lines
        space-around    Items are positioned with space before, between, and after the lines
        initial Sets this property to its default value. Read about initial
        inherit
        */
        
        .cols:nth-child(1), .cols:nth-last-child(1) {
            background: black !important;
        }
        .cols {height:20rem; line-height:20rem; text-align:center; margin:0.4rem; outline:#aaa solid 0.1rem;
        }
    }

    /* Mobile First Responsive Media Queries */
    @media screen and (min-width:1200px) and (max-width:1920px) {
        .rowsflex {
            flex-direction:row;
            -webkit-flex-direction:row;
            -ms-flex-direction:row;
            .cols {width:48%;} 
        }
    }

    @media screen and (min-width:992px) and (max-width:1199px) {
        .rowsflex {
            flex-direction:row;
            -webkit-flex-direction:row;
            -ms-flex-direction:row;
            .cols {width:24%;} 
        }
    }

    @media screen and (min-width:768px) and (max-width:991px) {
        .rowsflex {
            flex-direction:row;
            -webkit-flex-direction:row;
            -ms-flex-direction:row;
            .cols {width:32%;} 
        }
    }

    @media screen  and (min-width:576px) and (max-width:767px) {
        .rowsflex {
            flex-direction:row;
            -webkit-flex-direction:row;
            -ms-flex-direction:row;
            .cols {width:45%;} 
        }
    }

    @media screen and (min-width:320px) and (max-width:575px) {
        .rowsflex {
            flex-direction:column;
            -webkit-flex-direction:column;
            -ms-flex-direction:column;
            .cols {width:90%; margin:0.4rem auto;} 
        }
    }

}