/* BGN import *.scss */
html {
  font: 62.5%/normal 'Note Sans', sans-serif;
  min-height: 100%;
  position: relative;
  box-sizing: border-box; }

body {
  display: block;
  width: 100vw;
  text-align: center;
  color: #333;
  background: #fff;
  font-size: 1.4rem; }

/**/
h1 {
  font: bold 4.0rem/normal 'Note Sans', sans-serif; }

h2 {
  font: bold 3.2rem/normal 'Note Sans', sans-serif; }

h3 {
  font: bold 2.8rem/normal 'Note Sans', sans-serif; }

h4 {
  font: bold 2.4rem/normal 'Note Sans', sans-serif; }

h5 {
  font: bold 2.0rem/normal 'Note Sans', sans-serif; }

h6 {
  font: bold 1.6rem/normal 'Note Sans', sans-serif; }

/* Mobile First Responsive Media Queries */
@media all and (min-width: 320px) and (max-width: 575px) {
  body {
    font-size: 1.2rem; }

  h1 {
    font: bold 3.2rem/normal 'Note Sans', sans-serif; }

  h2 {
    font: bold 2.4rem/normal 'Note Sans', sans-serif; }

  h3 {
    font: bold 2.0rem/normal 'Note Sans', sans-serif; }

  h4 {
    font: bold 1.6rem/normal 'Note Sans', sans-serif; }

  h5 {
    font: bold 1.4rem/normal 'Note Sans', sans-serif; }

  h6 {
    font: bold 1.2rem/normal 'Note Sans', sans-serif; }

  span.vary {
    font-size: 200%; } }
@media all and (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 1.4rem; }

  h1 {
    font: bold 3.4rem/normal 'Note Sans', sans-serif; }

  h2 {
    font: bold 2.6rem/normal 'Note Sans', sans-serif; }

  h3 {
    font: bold 2.2rem/normal 'Note Sans', sans-serif; }

  h4 {
    font: bold 1.8rem/normal 'Note Sans', sans-serif; }

  h5 {
    font: bold 1.6rem/normal 'Note Sans', sans-serif; }

  h6 {
    font: bold 1.2rem/normal 'Note Sans', sans-serif; }

  span.vary {
    font-size: 250%; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1.4rem; }

  h1 {
    font: bold 3.6rem/normal 'Note Sans', sans-serif; }

  h2 {
    font: bold 2.8rem/normal 'Note Sans', sans-serif; }

  h3 {
    font: bold 2.4rem/normal 'Note Sans', sans-serif; }

  h4 {
    font: bold 2.0rem/normal 'Note Sans', sans-serif; }

  h5 {
    font: bold 1.8rem/normal 'Note Sans', sans-serif; }

  h6 {
    font: bold 1.4rem/normal 'Note Sans', sans-serif; }

  span.vary {
    font-size: 300%; } }
@media all and (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 1.4rem; }

  h1 {
    font: bold 3.8rem/normal 'Note Sans', sans-serif; }

  h2 {
    font: bold 3.0rem/normal 'Note Sans', sans-serif; }

  h3 {
    font: bold 2.6rem/normal 'Note Sans', sans-serif; }

  h4 {
    font: bold 2.2rem/normal 'Note Sans', sans-serif; }

  h5 {
    font: bold 1.8rem/normal 'Note Sans', sans-serif; }

  h6 {
    font: bold 1.4rem/normal 'Note Sans', sans-serif; }

  span.vary {
    font-size: 350%; } }
@media all and (min-width: 1200px) and (max-width: 1920px) {
  body {
    font-size: 1.4rem; }

  h1 {
    font: bold 4.0rem/normal 'Note Sans', sans-serif; }

  h2 {
    font: bold 3.2rem/normal 'Note Sans', sans-serif; }

  h3 {
    font: bold 2.8rem/normal 'Note Sans', sans-serif; }

  h4 {
    font: bold 2.4rem/normal 'Note Sans', sans-serif; }

  h5 {
    font: bold 2.0rem/normal 'Note Sans', sans-serif; }

  h6 {
    font: bold 1.6rem/normal 'Note Sans', sans-serif; }

  span.vary {
    font-size: 400%; } }
/* EOD import *.scss */
/* .flexcont = flex container - parent */
/* .flexitem = flex items - children */
.component {
  width: 90%;
  height: 100%;
  background: #fff;
  margin: 2% auto;
  text-align: center; }
  .component div.varA, .component div.varB, .component div.varC, .component div.varD {
    margin: 2rem auto; }
  .component .flexcont-row {
    display: flex;
    flex-flow: row wrap; }
  .component .flexcont-row-reverse {
    display: flex;
    flex-flow: row-reverse wrap; }
  .component .flexcont-col {
    display: flex;
    flex-flow: column wrap; }
  .component .flexcont-col-reverse {
    display: flex;
    flex-flow: column-reverse wrap; }
  .component .varA {
    height: 10rem;
    /* parent container */ }
    .component .varA .A {
      flex: 1;
      padding: 1rem;
      /* child item */
      /* child item */
      /* child item */ }
      .component .varA .A.A1 {
        font-size: 1.6rem;
        font-weight: 200;
        color: #159;
        display: flex;
        align-items: flex-start; }
      .component .varA .A.A2 {
        font-size: 2.0rem;
        font-weight: 500;
        color: #951;
        display: flex;
        align-items: center; }
      .component .varA .A.A3 {
        font-size: 2.4rem;
        font-weight: 800;
        color: #519;
        display: flex;
        align-items: flex-end; }
  .component .varB {
    height: 10rem;
    /* parent container */ }
    .component .varB .B {
      flex: 1;
      padding: 1rem;
      /* child item */
      /* child item */
      /* child item */ }
      .component .varB .B.B1 {
        font-size: 1.6rem;
        font-weight: 200;
        color: #123;
        display: flex;
        align-items: flex-start; }
      .component .varB .B.B2 {
        font-size: 2.0rem;
        font-weight: 500;
        color: #456;
        display: flex;
        align-items: center; }
      .component .varB .B.B3 {
        font-size: 2.4rem;
        font-weight: 800;
        color: #789;
        display: flex;
        align-items: flex-end; }
  .component .varC {
    height: 10rem;
    /* parent container */ }
    .component .varC .C {
      flex: 1;
      padding: 1rem;
      /* child item */
      /* child item */
      /* child item */ }
      .component .varC .C.C1 {
        font-size: 1.6rem;
        font-weight: 200;
        color: #369;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      .component .varC .C.C2 {
        font-size: 2.0rem;
        font-weight: 500;
        color: #963;
        display: flex;
        align-items: center;
        justify-content: center; }
      .component .varC .C.C3 {
        font-size: 2.4rem;
        font-weight: 800;
        color: #693;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
  .component .varD {
    height: 10rem;
    /* parent container */ }
    .component .varD .D {
      flex: 1;
      padding: 1rem;
      /* parent container */
      /* child item */
      /* child item */
      /* child item */ }
      .component .varD .D.D1 {
        font-size: 1.6rem;
        font-weight: 200;
        color: #123;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      .component .varD .D.D2 {
        font-size: 2.0rem;
        font-weight: 500;
        color: #456;
        display: flex;
        align-items: center;
        justify-content: center; }
      .component .varD .D.D3 {
        font-size: 2.4rem;
        font-weight: 800;
        color: #789;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
  @media screen and (min-width: 320px) {
    .component .A {
      outline: #f00 solid 0.2rem; }
    .component .B {
      outline: #00f solid 0.2rem; }
    .component .C {
      outline: #f00 solid 0.2rem; }
    .component .D {
      outline: #f00 solid 0.2rem; } }
  @media screen and (min-width: 576px) {
    .component .A {
      outline: #f00 solid 0.4rem; }
    .component .B {
      outline: #00f solid 0.4rem; }
    .component .C {
      outline: #0f0 solid 0.4rem; }
    .component .D {
      outline: #0ff solid 0.4rem; } }
  @media screen and (min-width: 768px) {
    .component .A {
      outline: #f00 solid 0.6rem; }
    .component .B {
      outline: #00f solid 0.6rem; }
    .component .C {
      outline: #0f0 solid 0.6rem; }
    .component .D {
      outline: #0ff solid 0.6rem; } }
  @media screen and (min-width: 1024px) {
    .component .A {
      outline: #f00 solid 0.8rem; }
    .component .B {
      outline: #00f solid 0.8rem; }
    .component .C {
      outline: #0f0 solid 0.8rem; }
    .component .D {
      outline: #0ff solid 0.8rem; } }
  @media screen and (min-width: 1280px) {
    .component .A {
      outline: #f00 solid 1rem; }
    .component .B {
      outline: #00f solid 1rem; }
    .component .C {
      outline: #0f0 solid 1rem; }
    .component .D {
      outline: #0ff solid 1rem; } }
