/* BGN import *.css */
@import "../global/css/_reset.css";
@import "../global/css/_global.css";
/* EOD import *.css */   

body {background:#fafafa; color:#333; overflow-x:hidden;
    /* Container Begins */
    #videolib { 
        width:100%; min-width:32rem; margin:2rem auto; text-align:center;
        .on {display:block;}
        .off {display:none;}
        display:flex;

        .main {width:100%; margin:0 auto 0 0;
            #hero {width:96%; color:#fff; margin:0 auto; background:#789; padding:2rem;
                h3 {margin:auto;}
                ul#topnav {
                    display:flex;
                    flex:1;
                    flex-flow:row;
                    justify-content: center;
                    align-items:center; 
                    li.videolist {margin:1rem; padding:1rem; list-style:none; text-align:center; outline:#ccc dotted 0.1rem; cursor:pointer;
                        img {width:80%; margin-top:1rem;}
                    }
                    li.videolist:hover {outline:#069 dotted 0.1rem;} 
                }
            }
        
            p {margin:1rem auto; font-size:2rem; color:#789;}
            p.updated {font-size:1.2rem; }

            #collection {width:80%; max-width:120rem; outline:#ccc dotted 0.1rem;
                &.json {margin:2rem auto; padding: 1rem 4rem; text-align:center; line-height: 2rem; }
                /*.videos {}*/
                .name {font-size:2rem; margin:2rem auto; color:#333;}
                .videos {
                    img {width:100%;}
                    .desc {position:relative; margin:-30% auto;}
                }
            }
        }
    }
}
