/* Note Sans */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(./Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}

/* Poiret One */
@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret One'), local('PoiretOne'), url(./Poiret_One/PoiretOne-Regular.ttf) format('truetype');
}

/* Gotham Book */
@font-face {
    font-family: 'Gotham Book';
    src: url('./gotham/gotham-book-webfont-webfont.eot') format('embedded-opentype'),
         url('./gotham/gotham-book-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('./gotham/gotham-book-webfont-webfont.woff2') format('woff2'),
         url('./gotham/gotham-book-webfont-webfont.woff') format('woff'),
         url('./gotham/gotham-book-webfont-webfont.ttf') format('truetype'),
         url('./gotham/gotham-book-webfont-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Gotham Thin */
@font-face {
    font-family: 'Gotham Thin';
    src: url('./gotham/gotham_thin-webfont.eot') format('embedded-opentype'),
         url('./gotham/gotham_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./gotham/gotham_thin-webfont.woff2') format('woff2'),
         url('./fonts/gotham/gotham_thin-webfont.woff') format('woff'),
         url('./fonts/gotham/gotham_thin-webfont.ttf') format('truetype'),
         url('./gotham/gotham_thin-webfont.svg#gotham_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}